.button{
  background-color: #806DD6;
  padding: 10px 50px;
  border-radius: 25px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 0.8rem;

  :hover{
    cursor: pointer;
  }

}
