.container{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  max-height: 100%;

}

.title{
  
  color: black;
  font-weight: 600;
  font-size: 1.4rem;

}

.list{
  margin-top: 15px;
  max-height: calc(100% - 30px);
  list-style: none;
  overflow-y: scroll;

  @media screen and (max-width:600px) {
    overflow-y: auto;
  }
}

.warning{
  background-color: #7f6cd54d;
  padding: 10px;
  border-radius: 10px;
}